<mat-toolbar color="primary" class="header">
  <div>Welcome to DR Legal Services </div>
</mat-toolbar>
<div class="register-wrapper">
        <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()" #resetCaseForm="ngForm" novalidate>
            <!-- Left block -->
            <mat-card fxflex = "25">
              <h1 class="mat-h1">Register New User</h1>

              <div class="controlers-wrapper">
                <!-- Name -->
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                  </mat-form-field>
                  <mat-form-field >
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="Username" formControlName="userName">
                  </mat-form-field>
                  <mat-form-field >
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                  </mat-form-field>
                  <mat-form-field >
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPwd">
                  </mat-form-field>
              </div>
              <div >
                <div class="button-wrapper">
                  <button mat-flat-button color="warn">Submit</button>
                </div>
              </div>
            </mat-card>
        </form>
    </div>
