.custom-icon {
    font-size: 12px;
    height:12px;
    width:12px;
  }

.mat-elevation-z8{
    overflow-x: auto;
}

.search-div{
  margin: 10px;
}

.search-form-field{
 width:60%;
}
.right-align{
  float: right;
}