
  <mat-toolbar color="primary" class="header">
    <div>Welcome to DR Legal Services </div>
    <span class="nav-tool-items">
      <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
    </span>
  
  </mat-toolbar>
  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened"
       >
      <mat-nav-list >
        <a mat-list-item routerLinkActive="active" routerLink="/case/add-case">
          <mat-icon>add</mat-icon> Add Case 
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/case/cases-list">
          <mat-icon>format_list_bulleted</mat-icon> View Cases
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/case/additional-details">
          <mat-icon>cloud_upload</mat-icon> Addl Case Details
        </a>
        <a mat-list-item (click)="logout()">
     <mat-icon>eject</mat-icon> Logout
        </a>
  
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main content -->
    <mat-sidenav-content>
      
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>