<mat-toolbar color="primary" class="header">
  <div>Welcome to DR Legal Services </div>
  <div> <button mat-flat-button color="warn" (click)="movetoregister()">Register</button>
  </div>
</mat-toolbar>
<div class="login-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" #resetCaseForm="ngForm" novalidate autocomplete="off" >
            <!-- Left block -->
            <mat-card fxflex="25">
              <h1 class="mat-h1">Login</h1>

              <div class="controlers-wrapper">
                <div *ngIf="errMsg" class="alert alert-warning">
                  <strong>Warning!</strong> {{errMsg}}
                </div>
                
                <!-- Name -->
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                  </mat-form-field>
                  <mat-form-field >
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                  </mat-form-field>
              </div>
              <div >
                <div >
                  <button mat-flat-button color="warn">Login</button>
                </div>
              </div>
            </mat-card>
        </form>
</div>